body.styleFlex.dark {
	font-family: "Roboto", "Verdana", sans-serif;
	padding: 0;
	margin: 0;
	color: rgba(255, 255, 255, 0.87);
	background-color: #121212;
}

header.styleFlex.dark {
	height: 300px;
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
	flex-direction: column;
	background: url(images/fond_header.png), linear-gradient(0.25turn, #ff8a00, #da1c5f);
	background-repeat: no-repeat;
	background-position: center right;
}

header h1 {
	font-size: 4em;
	margin-bottom: 10px;
	margin-left: 30px;
}

header h2 {
	margin-left: 50px;
}

#date_heure {
	align-self: flex-end;
	font-weight: bold;
	margin-bottom: 20px;
	margin-right: 20px;
}

nav#main_menu.styleFlex.dark {
	width: 100%;
	height: 60px;
	border-bottom: 1px solid rgba(255,255,255,0.2);
	position: fixed;
	background-color: rgba(18,18,18,0.8);
}

#switch.styleFlex.dark {
	display: inline-block;
	position: absolute;
	border-left: 1px solid rgba(255,255,255,0.2);
	right: 0px;
	top: 0px;
	width: 60px;
	height: 60px;
}

#main_menu ul {
	margin: 0;
	display: flex;
	justify-content: center;
}

#main_menu li.styleFlex.dark {
	display: inline-block;
	height: 60px;
	line-height: 60px;
	width: 150px;
	text-align: center;
	color: white;
	border-left: 1px solid rgba(255,255,255,0.2);
}

#main_menu a:last-of-type li.styleFlex.dark {
	border-right: 1px solid rgba(255,255,255,0.2);
}

#main_menu li.styleFlex.dark:hover {
	background-color: #232323;
}

nav#menu_skills {
	height: 50px;
	width: 100%;
}

#menu_skills ul {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
}

#menu_skills li {
	padding: 0;
	display: inline-block;
	text-align: center;
	height: 50px;
	line-height: 50px;
	width: 120px;
	margin-left: 20px;
	margin-right: 20px;
	cursor: pointer;
}

#menu_skills li:hover {
	font-weight: bold;
}

li#trigger_logiciels.styleFlex.dark {
	border-bottom: 3px solid #ff8a00;
}

li#trigger_langages.styleFlex.dark {
	border-bottom: 3px solid #ea4c35;
}

li#trigger_autres.styleFlex.dark {
	border-bottom: 3px solid #da1d5e;
}

body > section.styleFlex.dark {
	background-color: #232323;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-left: 4%;
	margin-right: 4%;
	border-radius: 5px;
	box-shadow: 0px 0px 3px black;
	padding: 2em;
}

section h2 {
	text-align: center;
}

.hidden {
	display: none;
}

.grille_blocs {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.bloc_logiciel {
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
}

#skills h3 {
	text-align: center;
}

/* BANQUE COULEURS

Prune : #950952;
Bleu : #005c69;

*/

.container {
	margin-top: 70px;
}

section li {
	margin: 20px;
}


/******************
STYLE LIGHT
******************/

body.styleFlex.light {
	font-family: "Roboto", "Verdana", sans-serif;
	padding: 0;
	margin: 0;
	color: rgba(0, 0, 0, 0.87);
	background-color: #ededed;
}

header.styleFlex.light {
	height: 300px;
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
	flex-direction: column;
	background: url(images/fond_header_light.png), linear-gradient(0.25turn, #006dfc, #23c089);
	background-repeat: no-repeat;
	background-position: center right;
	color: rgba(255, 255, 255, 0.87);
}

#switch.styleFlex.light {
	display: inline-block;
	position: absolute;
	border-left: 1px solid rgba(0,0,0,0.2);
	right: 0px;
	top: 0px;
	width: 60px;
	height: 60px;
}

nav#main_menu.styleFlex.light {
	width: 100%;
	height: 60px;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	position: fixed;
	background-color: rgba(237,237,237,0.8);
}

#main_menu li.styleFlex.light {
	display: inline-block;
	height: 60px;
	line-height: 60px;
	width: 150px;
	text-align: center;
	color: rgba(0, 0, 0, 0.87);
	border-left: 1px solid rgba(0,0,0,0.2);
}

#main_menu a:last-of-type li.styleFlex.light {
	border-right: 1px solid rgba(0,0,0,0.2);
}

#main_menu li.styleFlex.light:hover {
	background-color: #dcdcdc;
}

li#trigger_logiciels.styleFlex.light {
	border-bottom: 3px solid #006dfc;
}

li#trigger_langages.styleFlex.light {
	border-bottom: 3px solid #15b3ca;
}

li#trigger_autres.styleFlex.light {
	border-bottom: 3px solid #23c089;
}

body > section.styleFlex.light {
	background-color: #dcdcdc;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-left: 4%;
	margin-right: 4%;
	border-radius: 5px;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.7);
	padding: 2em;
}

/****************
BOUTON SWITCH
****************/

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
  margin-left: 5px;
  margin-top: 17px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #dcdcdc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 3px;
  background-color: grey;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #232323;
}

input:focus + .slider {
  box-shadow: 0 0 1px black;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}